<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>PotatoStep</string>
	<key>CFBundleDisplayName</key>
	<string>PotatoStep</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHealthShareUsageDescription</key>
	<string>PotatoStep 需要讀取您的 HealthKit 每日步數資料，以計算目標完成度與熱量消耗。</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>PotatoStep 需要將您同步的步數資料寫入至 Apple Health（健康）。</string>
</dict>
</plist>
